{% extends "ContactBundle::mainTemplate.html.twig" %}
{% block bodyForm %}
{% for person in persons %}
    <p><a href="{{ path('showPerson', {'id':person.id}) }}">{{ person.lastname }} {{ person.firstname }}</a>
    <button type="remove" onclick="location.href='{{ path('removePerson', {'id':person.id}) }}'">Usuń osobę</button> <button onclick="location.href='{{ path('editPerson', {'id':person.id}) }}'">Edytuj dane</button></p>
    {% else %}
        <p>Nie masz żadnych kontaktów</p>
{% endfor %}
{% endblock %}